{% extends '/admin/base.html.twig' %}

{% block title %} Liste des utilisateurs {% endblock %}

{% block body %}
<div class="content-body">
    <div class="container-fluid">
 
    <h1>Reclamation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idreclamation</th>
                <td>{{ reclamation.idreclamation }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ reclamation.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ reclamation.description }}</td>
            </tr>
            <tr>
                <th>Etat</th>
  {% if reclamation.etat==false %}
                    <td>Non Traité </td>
                    {% else %}
                    <td>Traité </td>
                {% endif %}
             </tr>
        </tbody>
    </table>
  {% if reclamation.etat==false %}
  <h3>Traiter la reclamation : </h1>
  {{ include("/reclamation/traiter.html.twig")}}
  {% endif %}
   
    </div>
    </div>
{% endblock %}
