<!DOCTYPE html>
<title>New Rencontre</title>

{% block body %}
    <h1>Create new Rencontre</h1>

    {{ include('rencontre/_form.html.twig') }}

    <a href="{{ path('app_rencontre_index') }}">back to list</a>

    <script>
        document.querySelector('#save-button').addEventListener('click', function() {
            // Redirect to the calendar view after saving
            window.location.href = "{{ path('app_rencontre_index') }}";
        });
    </script>
{% endblock %}
