<div class="preloader">
      <div class="preloader-body">
        <div class="preloader-item"></div>
      </div>
    </div>
<header class="section page-header rd-navbar-dark">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="166px" data-xl-stick-up-offset="166px" data-xxl-stick-up-offset="166px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-panel">
              <!-- RD Navbar Toggle-->
              <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-main"><span></span></button>
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel-inner container">
                <div class="rd-navbar-collapse rd-navbar-panel-item rd-navbar-panel-item-left">
                  <!-- Owl Carousel-->
                  <div class="owl-carousel-navbar owl-carousel-inline-outer">
                    <div class="owl-inline-nav">
                      <button class="owl-arrow owl-arrow-prev"></button>
                      <button class="owl-arrow owl-arrow-next"></button>
                    </div>
                    <div class="owl-carousel-inline-wrap">
                      <div class="owl-carousel owl-carousel-inline" data-items="1" data-dots="false" data-nav="true" data-autoplay="true" data-autoplay-speed="3200" data-stage-padding="0" data-loop="true" data-margin="10" data-mouse-drag="false" data-touch-drag="false" data-nav-custom=".owl-carousel-navbar">
                        <!-- Post Inline-->
                        <article class="post-inline">
                          <time class="post-inline-time" datetime="2024">April 15, 2024</time>
                          <p class="post-inline-title">Sportland vs Dream Team</p>
                        </article>
                        <!-- Post Inline-->
                        <article class="post-inline">
                          <time class="post-inline-time" datetime="2024">April 15, 2024</time>
                          <p class="post-inline-title">Sportland vs Real Madrid</p>
                        </article>
                        <!-- Post Inline-->
                        <article class="post-inline">
                          <time class="post-inline-time" datetime="2024">April 15, 2024</time>
                          <p class="post-inline-title">Sportland vs Barcelona</p>
                        </article>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="rd-navbar-panel-item rd-navbar-panel-item-right">
                  <ul class="list-inline list-inline-bordered">
                    <li>
                      <!-- Select 2-->
                      <select class="select" name="lang" data-container-class="select-inline" data-dropdown-class="select-inline-dropdown">
                        <option selected="">en</option>
                        <option>fr</option>
                        <option>es</option>
                      </select>
                    </li>
                    <li>
                      <div class="cart-inline-toggled-outer">
                        <!-- Link Cart-->
                        <button class="link link-cart cart-inline-toggle" data-rd-navbar-toggle="#cart-inline"><span class="link-cart-icon fl-bigmug-line-shopping202"></span><span class="link-cart-counter">2</span></button>
                        <!-- Cart Inline-->
                        <article class="cart-inline cart-inline-toggled" id="cart-inline">
                          <div class="cart-inline-inner">
                            <div class="cart-inline-header">
                              <h5 class="cart-inline-title"></h5>
                              <p class="cart-inline-subtitle"></p>
                            </div>
                            <div class="cart-inline-main">
                                    <!-- Product inline-->
                                   
                                    <!-- Product inline-->
                                    
                            </div>
                            <div class="cart-inline-footer"><a class="button button-md button-default-outline" href="/commande">Go to Cart</a><a class="button button-md button-primary" href="/paiement">Checkout</a></div>
                          </div>
                        </article>
                      </div>
                    </li>
                    <li><a class="link link-icon link-icon-left link-classic" href="/user/profil"><span class="icon fl-bigmug-line-login12"></span><span class="link-icon-text">Your Account</span></a></li>
                  </ul>
                </div>
                <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
              </div>
            </div>
            <div class="rd-navbar-main">
              <div class="rd-navbar-main-top">
                <div class="rd-navbar-main-container container">
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a class="brand" href="../landing"><img class="brand-logo " src="{{ asset('assets_front/images/logo-soccer-default-95x126.png')}}" alt="" width="95" height="126"></a>
                  </div>
                  <!-- RD Navbar List-->
                  <ul class="rd-navbar-list">
                    <li class="rd-navbar-list-item"><a class="rd-navbar-list-link" href="#"><img src="{{ asset('assets_front/images/partners-1-inverse-75x42.png')}}" alt="" width="75" height="42"></a></li>
                    <li class="rd-navbar-list-item"><a class="rd-navbar-list-link" href="#"><img src="{{ asset('assets_front/images/partners-2-inverse-88x45.png')}}" alt="" width="88" height="45"></a></li>
                    <li class="rd-navbar-list-item"><a class="rd-navbar-list-link" href="#"><img src="{{ asset('assets_front/images/partners-3-inverse-79x52.png')}}" alt="" width="79" height="52"></a></li>
                  </ul>
                  <!-- RD Navbar Search-->
                  <div class="rd-navbar-search">
                    <button class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search"><span></span></button>
                    <form class="rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                      <div class="form-wrap">
                        <label class="form-label" for="rd-navbar-search-form-input">Enter your search request here...</label>
                        <input class="rd-navbar-search-form-input form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off">
                        <div class="rd-search-results-live" id="rd-search-results-live"></div>
                      </div>
                      <button class="rd-search-form-submit fl-budicons-launch-search81" type="submit"></button>
                    </form>
                  </div>
                </div>
              </div>
              <div class="rd-navbar-main-bottom rd-navbar-darker">
                <div class="rd-navbar-main-container container">
                  <!-- RD Navbar Nav-->
                                    <ul class="rd-navbar-nav">
                                      <li class="rd-nav-item"><a class="rd-nav-link" href="article/news">Home</a>
                                                          <ul class="rd-menu rd-navbar-dropdown">
                                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Niche Templates</a>
                                                                                <ul class="rd-menu rd-navbar-dropdown">
                                                                                  <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="../soccer">Soccer</a>
                                                                                  </li>
                                                                                  <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="../baseball">Baseball</a>
                                                                                  </li>
                                                                                  <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="../basketball">Basketball</a>
                                                                                  </li>
                                                                                  <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="../billiards">Billiards</a>
                                                                                  </li>
                                                                                  <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="../bowling">Bowling</a>
                                                                                  </li>
                                                                                  <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="../rugby">Rugby</a>
                                                                                  </li>
                                                                                </ul>
                                                            </li>
                                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="article/news">Home Types</a>
                                                                                <ul class="rd-menu rd-navbar-dropdown">
                                                                                  <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="article/news">Home Soccer</a>
                                                                                  </li>
                                                                                  <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="home-baseball.html">Home Baseball</a>
                                                                                  </li>
                                                                                  <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="home-basketball.html">Home Basketball</a>
                                                                                  </li>
                                                                                  <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="home-billiards.html">Home Billiards</a>
                                                                                  </li>
                                                                                  <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="home-bowling.html">Home Bowling</a>
                                                                                  </li>
                                                                                  <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="home-rugby.html">Home Rugby</a>
                                                                                  </li>
                                                                                  <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="home-tennis.html">Home Tennis</a>
                                                                                  </li>
                                                                                </ul>
                                                            </li>
                                                          </ul>
                                      </li>
                                      
                                      <li class="rd-nav-item"><a class="rd-nav-link" href="article/news">News</a>
                                                          <ul class="rd-menu rd-navbar-dropdown">
                                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="../article/news">Article</a>
                                                            </li>
                                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="../rencontre/rencontre">schedule</a>
                                                            </li>
                                                            
                                                          </ul>
                                      </li>
                                      <li class="rd-nav-item active"><a class="rd-nav-link" href="#">Team</a>
                                                          <ul class="rd-menu rd-navbar-dropdown">
                                                            
                                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="../Roster">Roster</a>
                                                            </li>
                                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="../evenement/front">Election</a>
                                                            </li>
                                                             
                                                            
                                                          </ul>
                                      </li>
                                      <li class="rd-nav-item"><a class="rd-nav-link" href="#">Shop</a>
                                                          <ul class="rd-menu rd-navbar-dropdown">
                                                           
                                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="../boutique">Grid Shop</a>
                                                            </li>
                                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="../boutiquelist">List Shop</a>
                                                            </li>
                                                            
                                                            
                                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="../commande">Shopping Cart</a>
                                                            </li>
                                                            
                                                          </ul>
                                      </li>
                                       <li class="rd-nav-item"><a class="rd-nav-link" href="#">Settings</a>
                                                          <ul class="rd-menu rd-navbar-dropdown">
                                                           
                                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="../reclamation/new">Reclamer</a>
                                                            </li>
                                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="../reclamation/me">Mes Reclamation</a>
                                                            </li>
                                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="../user/logout">logOut</a>
                                                            </li>
                                                            
                                                          </ul>
                                      </li>
                                    </ul>
                  <div class="rd-navbar-main-element">
                    <ul class="list-inline list-inline-sm">
                      <li><a class="icon icon-xs icon-light fa fa-facebook" href="#"></a></li>
                      <li><a class="icon icon-xs icon-light fa fa-twitter" href="#"></a></li>
                      <li><a class="icon icon-xs icon-light fa fa-google-plus" href="#"></a></li>
                      <li><a class="icon icon-xs icon-light fa fa-instagram" href="#"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>