
{% block body %}
<title> {% block title %} Hello JoueurController! {% endblock %}</title>
<div class="content-body">
            <!-- row -->
			<div class="container-fluid">
							<h1>Hello {{ controller_name }}! ✅</h1>

            This friendly message is coming from:
            <ul>
                <li>Your controller at <code><a href="{{ 'C:/Users/tun/Desktop/projet/SYMPHONY/SwiftMinder/src/Controller/JoueurController.php'|file_link(0) }}">src/Controller/JoueurController.php</a></code></li>
                <li>Your template at <code><a href="{{ 'C:/Users/tun/Desktop/projet/SYMPHONY/SwiftMinder/templates/joueur/index.html.twig'|file_link(0) }}">templates/joueur/index.html.twig</a></code></li>
            </ul>
            </div>
        </div>
            

{% endblock %}
